<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>color</key>
		<string>blue</string>
		<key>content</key>
		<string>CoreText是基于IOS3.2及OSX10.5的用于文字精细排版的文本框架。它直接与Core Graphics（又称：Quartz）交互，将需要显示的文本内容，位置，字体，字形直接传递给Quartz，与其他UI组件相比，能更高效的进行渲染。</string>
		<key>size</key>
		<string>15</string>
		<key>type</key>
		<string>text</string>
	</dict>
	<dict>
		<key>content</key>
		<string>live_photo_2.png</string>
		<key>type</key>
		<string>image</string>
		<key>width</key>
		<string>320</string>
		<key>height</key>
		<string>200</string>
	</dict>
	<dict>
		<key>content</key>
		<string>CoreText在渲染界面的前就可以精确地获得显示内容的高度（只要有了CTFrame即可），而WebView只有渲染出内容后，才能获得内容的高度</string>
		<key>color</key>
		<string>red</string>
		<key>size</key>
		<string>15</string>
		<key>type</key>
		<string>text</string>
	</dict>
	<dict>
		<key>content</key>
		<string>live_photo_6.png</string>
		<key>type</key>
		<string>image</string>
		<key>width</key>
		<string>320</string>
		<key>height</key>
		<string>200</string>
	</dict>
	<dict>
		<key>color</key>
		<string>black</string>
		<key>content</key>
		<string>CoreText占用的内容更少，渲染速度更快。UIWebView占用的内存多，渲染速度慢。</string>
		<key>size</key>
		<string>16</string>
		<key>type</key>
		<string>text</string>
	</dict>
	<dict>
		<key>color</key>
		<string>blue</string>
		<key>content</key>
		<string>百度一下</string>
		<key>type</key>
		<string>link</string>
		<key>url</key>
		<string>https://www.baidu.com</string>
	</dict>
	<dict>
		<key>color</key>
		<string>default</string>
		<key>content</key>
		<string>CoreText在渲染界面的前就可以精确地获得显示内容的高度（只要有了CTFrame即可），而WebView只有渲染出内容后，才能获得内容的高度（而且还需要用JavaScript代码来获取）</string>
		<key>type</key>
		<string>text</string>
	</dict>
	<dict>
		<key>content</key>
		<string>live_photo_5.png</string>
		<key>type</key>
		<string>image</string>
		<key>width</key>
		<string>320</string>
		<key>height</key>
		<string>200</string>
	</dict>
</array>
</plist>
